.search {
  width: 100%;
}

li > a {
  color: white;
}

.vh-95 {
  height: 95vh;
}

.vh-5 {
  height: 5vh;
}
.faq {
  border-bottom: 0.5px solid lightgray;
}
.badge {
  background-color: #165ab9;
}
.form-check {
  border-bottom: 0.5px solid lightgray;
}
.sidebar {
  background-color: #051e34;
}
.circle {
  background-color: red;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
.fa-plus {
  border: 0.5px solid white;
  border-radius: 1rem;
}
.square {
  border: 0.5px solid gray;
  border-radius: 5px;
  color: gray;
}
/* animation */

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.766);
  border-radius: 2rem;
}
